*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.nav_logo img{
    width: 50px;
}
.nav_item{
    position: relative;
    transition: all .3s ease-in-out !important;
}
.nav_item::before{
    position: absolute;
    content: "";
    height: 2px;
    background-color: rgb(242, 115, 35);
    border-radius: 10px;
    transition: all .3s ease-in-out;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
}
.nav_item:hover:before{
    width: 80%;
}
.copyright{
    position: absolute;
    right: 20px;
    bottom: 10px;
    color: #fff;
}
.card_header{
    background-color: orangered !important;
    color: #fff;
    font-size: 17px;
    text-transform: uppercase;
    font-weight: bold;
}
.footer_item{
    width: 33.33%;
    color: #fff;
    
}
.footer_item a{
    color: #fff;
}
.card_body{
    background: orange;
}
.course_item{
    margin-left: 10px;
    width: calc(25% - 10px);
    background-color: aqua;
}
@media screen and (max-width:846px){
    .footer{
        flex-direction: column;
    }
    .footer_item{
        width: 100%;
    }
    .nav_item:hover:before{
        width: 0%;
    }
}
.footer{
    position: relative;
}